<h1>Bem-vindo ao CardsApp!</h1>

<p><%= form_tag("/search", method: "get") do %></p>
  <p><%= label_tag(:search, "PESQUISAR CARD") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Pesquisar") %></p>
<% end %>

<p><%= link_to "INSERIR CARD", new_card_path %></p>


<h2>Todos os cards: </h2>
<div id="cards">
  <% @cards.each do |card| %>
    <p><%= link_to "#{card.frente} |> #{card.verso}", card %></p>
  <%  end  %>
</div>
